[Unit]
Description=Stressfaktor API UI

[Service]
ExecStart=/usr/bin/stressfaktor-api-ui -api.host="http://api.fakt.pw"
Restart=on-failure

[Install]
WantedBy=multi-user.target