<div  cg-busy="eventUpdatePromise">
    <nav class="navbar navbar-inverse navbar-fixed">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" ng-init="menuExpanded = false" ng-click="menuExpanded = !menuExpanded">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-star"></span> Stressfaktor API</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse" ng-class='{"in": menuExpanded}'>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search..." ng-model="search.keyword">
                    <select class="form-control" ng-model="search.type">
                        <option value="">Anything</option>
                        <optgroup label="Grouped">
                            <option value="Konzert,Soliparty,Soli-Konzert,Party">Gigs and Parties</option>
                            <option value="Film,Film Club,Kino,Filmstube,Histo-Kino,Kino-Arbend">Films and Cinema</option>
                        </optgroup>
                        <optgroup label="Individual">
                            <option ng-repeat="et in eventTypes" value="{{::et}}">{{::et}}</option>
                        </optgroup>
                    </select>
                    <select class="form-control" ng-model="search.period">
                        <option value="yesterday">yesterday</option>
                        <option value="day">today</option>
                        <option value="week">this week</option>
                        <option value="month">this month</option>
                        <option value="all" selected>all</option>
                    </select>
                </div>
            </form>
        </div><!--/.nav-collapse -->
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-m-12 col-s-12 col-xs-12">
                <span ng-repeat="(k, event) in events | filter: search.keyword">
                    <h3 ng-if="(k == 0 || (false == dateHelper.isSameDay(event.date, events[k-1].date)))">{{::event.dateCalendar}}</h3>
                    <div class="panel panel-default" style="margin-bottom: 10px">
                        <div class="panel-heading">
                            <a href="/#/events/{{::event.id}}">
                                <h4 class="panel-title">
                                    <div class="pull-right"><span class="glyphicon glyphicon-arrow-right"></span></div>
                                    {{::event.type}} at {{::event.venue.name}}
                                </h4>
                            </a>
                        </div>
                        <div class="panel-body">
                            <p>{{::event.description}}</p>
                            <div ng-if="::event.performer" class="inset-divider"></div>
                            <table ng-if="::event.performer" class="table table-condensed table-bordered">
                                <tr ng-repeat="perf in ::event.performer">
                                    <td>{{::perf.name}} <span ng-if="::perf.home" class="text-muted">({{::perf.home}})</span></td>
                                    <td>{{::perf.genre}}</td>
                                    <td style="width: 24px"><a target="_blank" class="text-primary" ng-if="::perf.listen_url" href="{{::perf.listen_url}}"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span></a></td>
                                    <td style="width: 24px"><a target="_blank" class="text-primary" href="https://google.com/search?q={{::perf.name}} {{::perf.home}}"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></td>
                                </tr>
                            </table>
                        </div>
                        <div class="panel-footer">
                            {{::event.datePretty}} <span class="text-muted">({{::event.dateFromNow}} at {{::event.venue.address}}<span ng-if="::event.venue.address != ''">{{::event.venue.name}}</span>)</span>
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>