<div cg-busy="eventUpdatePromise">
    <ng-include src="'src/app/view/partial/header.html'"></ng-include>
    <div class="container-fluid">
        <div class="row subnav">
            <div class="col-lg-12 col-m-12 col-s-12 col-xs-12">
                <form class="row">
                    <div class="col-lg-4 col-m-4 col-s-4 col-xs-4">
                        <input type="text" class="form-control input-sm" placeholder="Search..." ng-model="keywordFilter">
                    </div>
                    <div class="col-lg-4 col-m-4 col-s-4 col-xs-4">
                        <select class="form-control input-sm" ng-model="search.type">
                            <option value="">Anything</option>
                            <optgroup label="Grouped">
                                <option value="Konzert,Soliparty,Soli-Konzert,Party">Gigs and Parties</option>
                                <option value="Film,Film Club,Kino,Filmstube,Histo-Kino,Kino-Arbend">Films and Cinema</option>
                            </optgroup>
                            <optgroup label="Individual">
                                <option ng-repeat="et in eventTypes" value="{{::et}}">{{::et}}</option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="col-lg-4 col-m-4 col-s-4 col-xs-4">
                        <select class="form-control input-sm input-block-level" ng-model="search.period">
                            <option value="yesterday">yesterday</option>
                            <option value="day">today</option>
                            <option value="weekend">this weekend</option>
                            <option value="week">this week</option>
                            <option value="month">this month</option>
                            <option value="all" selected>all</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-m-12 col-s-12 col-xs-12">
                <span ng-repeat="(k, event) in events | filter: keywordFilter">
                    <h3 ng-if="(k == 0 || (false == dateHelper.isSameDay(event.date, events[k-1].date)))">{{::event.dateCalendar}}</h3>
                    <div class="panel panel-default" style="margin-bottom: 10px">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <tag-select ng-model="event.utag" class="pull-right" style="margin-left: 10px;" save="/event/{{::event.id}}/tag"></tag-select>
                                <a href="/#/events/{{::event.id}}">
                                    {{::event.type}} at {{::event.venue.name}}
                                </a>
                            </h4>
                        </div>
                        <div class="panel-body">
                            <div class="media">
                                <div class="media-body">
                                    <img ng-if="eventImage(event)" class="pull-left event-list-performer-image" style="background-image: url('{{eventImage(event)}}');" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
                                    {{::event.description}}
                                </div>
                            </div>
                            <div ng-if="::event.performer" class="inset-divider"></div>
                            <table ng-if="::event.performer" class="table table-condensed table-bordered">
                                <tr ng-repeat="perf in ::event.performer">
                                    <td style="width: 115px;"><tag-select ng-model="::perf.utag" save="/performer/{{::perf.id}}/tag"></tag-select></td>
                                    <td>{{::perf.name}} <span ng-if="::perf.home" class="text-muted">({{::perf.home}})</span></td>
                                    <td>{{::perf.genre}}</td>
                                    <td style="width: 24px"><a target="_blank" class="text-primary" ng-if="::perf.listen_url" href="{{::perf.listen_url}}"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span></a></td>
                                    <td style="width: 24px"><a target="_blank" class="text-primary" href="https://google.com/search?q={{::perf.name}}+band+{{::perf.home}}"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></td>
                                </tr>
                            </table>
                        </div>
                        <div class="panel-footer">
                            <div>{{::event.datePretty}} <span class="text-muted">({{::event.dateFromNow}} at {{::event.venue.address}}<span ng-if="::event.venue.address == ''">{{::event.venue.name}}</span>)</span></div>
                        </div>
                    </div>
                </span>
            </div>
        </div>

    </div>
</div>