<nav class="navbar navbar-inverse navbar-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand">
                Stressfaktor API UI {{search.period}}
            </span>
        </div>
        <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <select class="form-control" ng-model="search.period">
                    <option value="day">today</option>
                    <option value="week">this week</option>
                    <option value="month">this month</option>
                    <option value="all" selected>all</option>
                </select>
                <input type="text" class="form-control" placeholder="Search" ng-model="search.keyword">
            </div>
        </form>
    </div>
</nav>
<div class="container-fluid">
    <span ng-repeat="(k, event) in events | filter: search.keyword">
        <h1 ng-if="k == 0 || dateToDay(event.date) != dateToDay(events[k-1].date)">{{dateToDay(event.date)}}</h1>
        <div class="media" style="margin-bottom: 10px">
            <div class="media-body" >
                <h4 class="media-heading"><span class="label label-primary">{{event.type}}</span> @ {{event.venue.name}}</h4>
                <p>{{event.description}}</p>
            </div>
            <div class="media-right">
                <!--img
                    class="media-object"
                    data-src="holder.js/64x64"
                    alt="64x64"
                    style="width: 64px; height: 64px;"
                    src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTJkYjQ3OTVhZCB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1MmRiNDc5NWFkIj48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxMy40NzY1NjI1IiB5PSIzNi41Ij42NHg2NDwvdGV4dD48L2c+PC9nPjwvc3ZnPg=="
                    data-holder-rendered="true"-->
            </div>
            <div class="media-bottom">
                <table ng-if="event.performer" class="table table-condensed table-bordered">
                    <tr ng-repeat="perf in event.performer">
                        <td>{{perf.name}} <span ng-if="perf.home" class="text-muted">({{perf.home}})</span></td>
                        <td>{{perf.genre}}</td>
                        <td><a target="_blank" class="btn btn-primary" ng-if="perf.listen_url" href="{{perf.listen_url}}">Listen</a></td>
                    </tr>
                </table>
                {{ event.date | fdate }} <span class="text-muted">(starts {{ event.date | fromnow }})</span>
            </div>
        </div>
    </span>
</div>
