// Core variables and mixins
@import "variables.less";
@import "mixins.less";

// Reset and dependencies
@import "normalize.less";
@import "print.less";
@import "glyphicons.less";

// Core CSS
@import "scaffolding.less";
@import "type.less";
@import "code.less";
@import "grid.less";
@import "tables.less";
@import "forms.less";
@import "buttons.less";

// Components
@import "component-animations.less";
@import "panels.less";
@import "navbar.less";
@import "input-groups.less";

// Utility classes
@import "utilities.less";
@import "responsive-utilities.less";

//Overrides
@brand-primary: lighten(#801515, 10%);
@body-background: #161616;
@panel-background: #1F1F1F;
@panel-border: #2F2F2F;
@text-color: #CCC;
@list-group-bg: @panel-background;
@list-group-border: @panel-border;
@navbar-margin-bottom: 0px;
body {
  background-color : @body-background;
}

body {
    background: url('/ui/img/dark_stripes.png');
    font-family: monospace;
}

h4 {
    color: @brand-primary;
}

//navbar
@navbar-inverse-brand-color: @brand-primary;

.navbar-collapse .form-control {
    max-width: 150px;
}

.navbar-collapse.in .form-control {
    max-width: 100%;
    margin-bottom: 5px;
}

//rounding
@border-radius-base:        0px;
@border-radius-large:       0px;
@border-radius-small:       0px;

//panels
@panel-bg:                    @panel-background;
@panel-default-text:          @text-color;
@panel-default-border:        @panel-border;
@panel-default-heading-bg:    @panel-background;

.panel .table {
  margin-bottom: 0px;
}

.panel-body.numeric-status {
  text-align: center;
  font-size : 4em;
  font-weight: bold;
}

//tables
@table-bg:                      transparent;
@table-bg-accent:               #1A1A1A;
@table-bg-hover:                #1A1A1A;
@table-border-color:            @panel-border;

table tr td {
  vertical-align: middle !important;
}

//forms
@input-bg: darken(@panel-background, 2%);
@input-border:  @input-bg;

.radio-inline {
  margin-bottom: -5px !important;
}

.form-inline .form-group {
  margin-right: 20px !important;
}

.inset-divider {
    width: 100%;
    height: 1px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #2f2f2f;
    margin : 10px 0px;
}

// busy overlay
.cg-busy-backdrop {
	background-color: black;
	opacity: 0.7;
}